credentials.service.js
.DS_Store
/investigations/cam_emotion_test/.vscode
/code/www/lib/ionic1.7
package-lock.json
.idea/dev_gaddum_app.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
code/google-services.json
code/.gradle/5.6.2/gc.properties
code/.gradle/5.6.2/fileChanges/last-build.bin
code/.gradle/5.6.2/fileHashes/fileHashes.lock
code/.gradle/4.1/fileChanges/last-build.bin
code/.gradle/4.1/fileHashes/fileHashes.lock
code/.gradle/4.1/taskHistory/taskHistory.lock
code/.gradle/buildOutputCleanup/built.bin
code/.gradle/buildOutputCleanup/cache.properties
code/.gradle/buildOutputCleanup/cache.properties.lock
