
<div class="modal openMessageModal" id="openMessageModal" ng-controller="openMessageModalController as vm">
  
  <div>

    <h1>The Modal</h1>
    <p>{{vm.messageType}}</p>
    <!-- <p ng-show="vm.messageType=='connectionRequest'">{{vm.messageType}} show</p>
    <p ng-hide="vm.messageType=='connectionRequest'">{{vm.messageType}} hide</p> -->
    <!-- <p ng-show="vm.true">{{vm.messageType}} true show</p>
    <p ng-hide="vm.true">{{vm.messageType}} true hide</p> -->

    <div id="connectionRequestOpen" ng-show="vm.messageType=='connectionRequest'">
      {{vm.params[0].message.sender_name}} wants to add you as a friend<br>

      <button class="button button-balanced" ng-click="vm.connectionRequestClick('accepted')">
          accept?
        </button>

        <button class="button button-assertive" ng-click="vm.connectionRequestClick('declined')">
            decline
          </button>
      <!-- directive? -->
    </div>


    <div id="connectionResponseOpen" ng-show="vm.messageType=='connectionResponse'">
        {{vm.params[0].message.sender_name}} has accepted your connection request<br> you are now friends<br>

        <button class="button button-energized" ng-click="vm.closeModal()">
            close
          </button>

    </div>



    <div id="musicSharing" ng-show="vm.messageType=='musicSharing'">
        {{vm.params[0].message.sender_name}} has shared music with you!<br>

        <button class="button button-balanced">
          Open
        </button>

    </div>










  </div>

</div>
