              <g id='svgHead' style="transform-origin: 50% 40%;">
                <path d='M17,32c-3,48,80,43,71-3 l-35-15' fill='#FFE1C4'/> <!-- HEAD SKIN -->


 <div class="moodElementsDiv">
  
  <div style="text-align: center" class="moodArrow">
    <span><img src="css/Down_arrow.svg" style=" height: 4rem;transform: scaleX(2);" /></span>
  </div>
  <div style="text-align: center" class="moodArrow2">
    <span><img src="css/Down_arrow.svg" style=" height: 4rem;transform: scaleX(2);" /></span>
  </div>

  <div style="text-align: center" class="picture">
    <span><img src="css/CharGeneric.png" style="height:140px ; width:140px;"/></span>
 </div>

  <div ng-hide='true' style="text-align: center">
    <!-- This is the canvas for the Jeeliz library -->
    <canvas id="jeefacetransferCanvas" style="width:320px;height:288px;"></canvas>
  </div>

  <div ng-show="vm.faceDetected!=true" ng-click="vm.wakeUpCamera()" ng-disabled="vm.cameraError"
    ng-class="((vm.emotionSelected)? 'goButton':'')" class="moodEmoji moodEmojiHide textShadow" style="z-index: 3">
    <!-- This is the circle (first one is hidden so camera will show second is not hidden) -->
    <span
      ng-show="vm.cameraError!=true  && vm.detecting===true && vm.faceDetected!=true && vm.lookAtTheCameraText===true">
      <p class="moodEmojiText">Look In The Camera
      </p>
    </span>
    <span
      ng-show="vm.cameraError!=true  && vm.detecting===true && vm.faceDetected!=true && vm.lookAtTheCameraText!=true">
      <p class="moodEmojiText">Finding Your Face
      </p>
    </span>
  </div>

  <div ng-show="vm.faceDetected===true" ng-click="vm.wakeUpCamera()" ng-disabled="vm.cameraError"
    ng-class="((vm.emotionSelected)? 'goButton':'')" class="moodEmoji moodEmojiHide textShadow" style="z-index: 3">
    <span ng-show="vm.cameraError===true && vm.emotionSelected===false">
      <p>❌</p>
      <p class="moodEmojiText">{{vm.cameraErrorString}}
      </p>
    </span>
    <p ng-show="vm.cameraError!=true  && vm.detecting===false && vm.disableButton===true"
      class="moodEmojiTextStartUp">Starting Up Facial Recognition Please Wait
    </p>
    <span ng-show="vm.cameraError===true && vm.emotionSelected===true && vm.disableButton===false">
      <p>{{vm.moodDisplay.emoji}}</p>
    </span>
    <span ng-show="vm.cameraError!=true  && vm.detecting===false && vm.disableButton===false">
      <p>{{vm.moodDisplay.emoji}}</p>
    </span>
    <p ng-show="vm.cameraError!=true  && vm.detecting===false && vm.disableButton===false"
      class="moodEmojiTextPressMe">Press Me
    </p>
    <p ng-show="vm.cameraError!=true  && vm.detecting===false && vm.disableButton===false"
      class="moodEmojiTextFindMood">To Find Your Mood!
    </p>
    <span ng-show="vm.cameraError!=true  && vm.detecting===true && vm.faceDetected===true">
      <p class="moodEmojiText">Guessing Your Mood
      </p>
    </span>
  </div>
  <div style="width:100%;">
    <img id="explosion" ng-show="vm.bang" ng-class="((vm.throbbing)? 'throbIn' : 'throbOut' )" class="moodExplosion"
      src="css/moodExplosion.svg" />
  </div>
  <button ng-disabled="vm.disableButton" ng-click="vm.selectModal()" class="moodSelect "><span
      class="selectSpan">{{vm.moodDisplay.name}}
    </span><img src="css/arrow-down-b.svg" class="littleSelectArrow" /></button>
  <button id="thatsMeButton" ng-disabled="!vm.emotionSelected" ng-class="((vm.emotionSelected)? 'goButton':'')"
    ng-click="vm.playMood()" class="moodPlay "><span class="selectSpan">That's
      Me </span></button>
</div>
</div>