<div class='webojiSVG'>
            <svg viewBox='0 0 104 97' xmlns='http://www.w3.org/2000/svg'>
              <!-- HEAD (AND HAT) : -->
              <g id='svgHead' style="transform-origin: 50% 40%;">
                <path d='M17,32c-3,48,80,43,71-3 l-35-15' fill='#FFE1C4'/> <!-- HEAD SKIN -->
                <path d="M17,32c9-36,61-32,71-3c-20-9-40-9-71,3" fill="#8ED8F8"/> <!-- BLUE PART OF HAT -->
                
                <path class='svgEyeLeftClose'  d='M54,35a10 8 60 1 1 0,0.1z' stroke='#000' fill='none' stroke-width='0.5'/>
                <path class='svgEyeRightClose'  d='M37,38a10 8 -60 1 1 0,0.1z' stroke='#000' fill='none' stroke-width='0.5'/>

                <rect class='svgEyeLeftClose'  x="53" y="25" width="20" height="15" fill="#FFE1C4"/>
                <rect class='svgEyeRightClose'  x="35" y="25" width="20" height="15" fill="#FFE1C4"/>
               
                <path class='svgEyeLeftOpen' d='M54,35a10 8 60 1 1 0,0.1z' fill='#FFF'/>
                <path class='svgEyeRightOpen' d='M37,38a10 8 -60 1 1 0,0.1z' fill='#FFF'/>

                <!-- ALL YELLOW PARTS : -->
                <path d='M41,6c1-1,4-3,8-3c3-0,9-1,14,3l-1,2h-2h-2c0,0-3,1-5,0c-2-1-1-1-1-1l-3,1l-2-1h-1c0,0-1,2-3,2c0,0-2-1-2-3M17,34l0-2c0,0,35-20,71-3v2c0,0-35-17-71,3' fill='#FFF200'/>

                <!-- PUPILS : -->
                <path class='svgEyeLeftOpen' id='svgPupilLeft'  d='M60,36a1 1 0 1 1 0-0.1'/>
                <path class='svgEyeRightOpen' id='svgPupilRight'  d='M49,36a1 1 0 1 1 0-0.1'/>

                <!-- MOUTH POSITIONS : -->
                <path class='svgMouthRound' d='M57,55a2 3 0 1 1 0-0.1'/>
                <path class='svgMouthOpen' d='M50,52 l3,-1 l9,2 l-3,6 l-6,-1 z'/>
                <path class='svgMouthRest' d='M50,54c0,0,6,4,10,0' fill='none' stroke='#000' stroke-width='0.8'  stroke-linecap='round'/>
                <path class='svgMouthNasty' d='M45,53c 0 8.991 1.701 3.969 10.53 4.131 c 8.829 0.162 9.801 4.455 9.882 -4.779 c 0.081 -9.234 -5.508 -1.134 -10.53 -1.134 c -5.022 0 -9.882 -7.209 -9.882 1.782 z'/>

                <path class='svgSmileLeft' d='M50,56c0,0,6,2,12,-6' fill='none' stroke='#000' stroke-width='0.8'  stroke-linecap='round'/>
                <path class='svgSmileRight' d='M60,56c0,0,-6,2,-12,-6' fill='none' stroke='#000' stroke-width='0.8'  stroke-linecap='round'/>
                <path class='svgSmile' d='M44,52 l20,0 l-10,8 z' />

                <!-- EYEBROWS -->
                <path class='eyeBrowLeftRest' d='M70,26l-12,1 l11,1z'/>
                <path class='eyeBrowRightRest' d='M40,25l12,1 l-11,1z'/>
                <path class='eyeBrowLeftUp' d='M70,28l-12,-5 l11,3z'/>
                <path class='eyeBrowRightUp' d='M40,28l12,-5 l-11,3z'/>
                <path class='eyeBrowLeftDown' d='M65,22l-11,9 l12,-6z'/>
                <path class='eyeBrowRightDown' d='M43,21l11,9 l-12,-6z'/>
                
                <!-- CHIN : -->
                <path d='M50,59c0,0,4,3,10,0' fill='none' stroke='#000' stroke-width='0.5' />

                <!-- DOUBLE CHIN : -->
                <path d='M25,50c0,0,10,12,23,12c13,0,24,0,35-15' fill='none' stroke='#000' stroke-width='0.5'/>


                <!-- TEETHS -->
                <path class='svgMouthOpen' d='M52,52.5 l2,0 l0,1 l-1.5,0 z' fill='#fff' />
                <path class='svgMouthOpen' d='M54.5,52.5 l2,0 l0,1 l-1.5,0 z' fill='#fff' />
                <path class='svgMouthOpen' d='M57,52.5 l2,0 l0,1 l-1.5,0 z' fill='#fff' />

                <path class='svgSmile' d='M47,52.5 l3,0 l0,2 l-1.5,0 z' fill='#fff' />
                <path class='svgSmile' d='M50.5,52.5 l3,0 l0,2 l-3,0 z' fill='#fff' />
                <path class='svgSmile' d='M54,52.5 l3,0 l0,2 l-3,0 z' fill='#fff' />
                <path class='svgSmile' d='M57.5,52.5 l3,0 l-1.5,2 l-1.5,0 z' fill='#fff' />$
          </g>
      </svg>
  </div>

  <div class="moodElementsDiv">
    
    <div style="text-align: center" class="moodArrow">
      <span><img src="css/Down_arrow.svg" style=" height: 4rem;transform: scaleX(2);"/></span>
    </div>
    <div style="text-align: center" class="moodArrow2">
        <span><img src="css/Down_arrow.svg" style=" height: 4rem;transform: scaleX(2);"/></span>
    </div>
    <div ng-hide='vm.debugging!=true' style="text-align: center">
      <canvas id="canvas" style="border: 3px solid #d3d3d3;width:320px; height:250px"></canvas>
      <canvas id="jeefacetransferCanvas" style="width:320px;height:288px;" style="display:none !important;"></canvas>
    </div>

    <div ng-click="vm.wakeUpCamera()" ng-disabled="vm.cameraError" ng-class="((vm.emotionSelected)? 'goButton':'')" class="moodEmoji textShadow">
      <span ng-show="vm.cameraError===true && vm.emotionSelected===false">
          <p >❌</p>
        <p class="moodEmojiText">{{vm.cameraErrorString}}
        </p>
      </span>
      <p ng-show="vm.cameraError!=true  && vm.detecting===false && vm.disableButton===true" style="
        font-size: 20px;
        top: 25px;
        position: absolute;
        left: 0%;
        font-weight: 600;
        white-space: normal;
        line-height: 20px;">Starting Up Facial Recognition Please Wait
        </p>
      <span ng-show="vm.cameraError===true && vm.emotionSelected===true && vm.disableButton===false">
        <p >{{vm.moodDisplay.emoji}}</p>
      </span>
      <span ng-show="vm.cameraError!=true  && vm.detecting===false && vm.disableButton===false">
        <p >{{vm.moodDisplay.emoji}}</p>
        <p ng-hide="vm.emotionSelected" class="moodQuestionMark">?</p>
      </span>
      <p ng-show="vm.cameraError!=true  && vm.detecting===false && vm.disableButton===false" style="
        font-size: 24px;
        top: -50px;
        position: absolute;
        left: 9%;
        font-weight: 600;">Press Me
        </p>
      <p ng-show="vm.cameraError!=true  && vm.detecting===false && vm.disableButton===false" style="
        font-size: 24px;
        top: 64px;
        position: absolute;
        left: -40%;
        width:250px;
        font-weight: 600;">To Find Your Mood!
        </p>
        <span ng-show="vm.cameraError!=true  && vm.detecting===true && vm.faceDetected!=true && vm.lookAtTheCameraText===true" >
            <p class="moodEmojiText">Look In The Camera
            </p>
          </span>
      <span ng-show="vm.cameraError!=true  && vm.detecting===true && vm.faceDetected!=true && vm.lookAtTheCameraText!=true">
        <p class="moodEmojiText">Finding Your Face
        </p>
      </span>
      <span ng-show="vm.cameraError!=true  && vm.detecting===true && vm.faceDetected===true">
        <p class="moodEmojiText">Guessing Your Mood
        </p>
      </span>
    </div>
    <!-- <div ng-hide=!vm.detecting class="moodSpinnerDiv">
      <ion-spinner class="moodSpinner" paused="true" name="circles"></ion-spinner>
    </div> -->
    <div style="width:100%;" >
      <img id="explosion" ng-show="vm.bang" ng-class="((vm.throbbing)? 'throbIn' : 'throbOut' )" class="moodExplosion" src="css/moodExplosion.svg"/>
    </div>
    <button ng-disabled="vm.disableButton" ng-click="vm.selectModal()" class="moodSelect "><span class="selectSpan">{{vm.moodDisplay.name}}
      </span><img src="css/arrow-down-b.svg" class="littleSelectArrow" /></button>
    <button id="thatsMeButton" ng-disabled="!vm.emotionSelected" ng-class="((vm.emotionSelected)? 'goButton':'')" ng-click="vm.playMood()"
      class="moodPlay "><span class="selectSpan">That's
        Me </span></button>
  </div>
  <!-- this is jankey ng-hide didnt work with css transition so we hide the element(visablity:hidden) slow fade -->
  <!-- <div ng-click="vm.removeHelpTips()" ng-class="{fade:vm.helpTips}">
      <div class="makePlaylistPositionDiv help-bubble moodUpArrow"
      style="margin-top:-9rem; margin-left:-5%;" 
      ng-click="vm.removeHelpTips()">
        <p class="triangle-border ">Tap this arrow, and we'll use the selfie camera to guess your mood from your expression.</p>
        <span class="bubble2-after"></span>
      </div>
      <div class="tryAgainPositionDiv help-bubble " 
      style="margin-right:-5%;"
      ng-click="vm.removeHelpTips()">
        <p class="triangle-border top">Did we get it right? Tap this arrow to play, or use the menu above to just choose a mood.</p>
        <span class="bubble2-after"></span>
      </div> -->
</div>
<!-- </ion-view>-->
